<div class="container">
	<div class="form-group"><h1>Create A New Session</h1></div>

	<%= form_for :session, url: sessions_path, :html => { :id => "new_session_form" } do |f| %>
	  <div class="form-group">
		<p>Fields with <span class="asteroid">*</span> are required.</p>
	  </div>

	  <div class="form-group row">
		<label for="name" class="col-xs-3 col-form-label">Session Name <span class="asteroid">*</span></label>
		<div class="col-xs-4">
		  <%= f.text_field :name, :class => 'form-control' %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="description" class="col-xs-3 col-form-label">Description</label>
		<div class="col-xs-6">
		  <%= f.text_area :description, :class => 'form-control', :rows => 7 %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="persons" class="col-xs-3 col-form-label">Participants</label>
		<div class="col-xs-6">
		  <%= f.select :persons, options_for_select(@event.persons.map{ |c| [c.name, c.id] }), {}, {:class => 'form-control', :multiple => true } %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="location_id" class="col-xs-3 col-form-label">Location</label>
		<div class="col-xs-4">
		  <%= f.select :location_id, options_for_select(@event.locations.map{ |c| [c.name, c.id] }), {}, {:class => 'form-control'} %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="start_time" class="col-xs-3 col-form-label">Start Time <span class="asteroid">*</span></label>
		<div class="col-xs-3">
		<%= f.text_field :start_time, :readonly => true, :class => 'form-control' %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="end_time" class="col-xs-3 col-form-label">End Time <span class="asteroid">*</span></label>
		<div class="col-xs-3">
		  <%= f.text_field :end_time, :readonly => true, :class => 'form-control' %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="avatar" class="col-xs-3 col-form-label">Icon</label>
		<div class="col-xs-4">
	      <%= f.file_field :avatar %>
	      <%= f.hidden_field :avatar_cache %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="detailed_avatar" class="col-xs-3 col-form-label">Detailed Icon</label>
		<div class="col-xs-4">
	      <%= f.file_field :detailed_avatar %>
	      <%= f.hidden_field :detailed_avatar_cache %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="tags" class="col-xs-3 col-form-label">Tags</label>
		<div class="col-xs-6">
		  <%= f.select :tags, options_for_select(@tags.map{ |c| [c.name, c.id] }), {}, {:class => 'form-control', :multiple => true } %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="session_type_id" class="col-xs-3 col-form-label">Session Type</label>
		<div class="col-xs-4">
		  <%= f.select :session_type_id, options_for_select(@session_types.map{ |c| [c.category, c.id] }), {}, {:class => 'form-control'} %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="other_time" class="col-xs-3 col-form-label">Alternative Time Display</label>
		<div class="col-xs-4">
		  <%= f.text_field :other_time, :class => 'form-control' %>
		</div>
	  </div>

	  <%= f.hidden_field :event_id, :value => @event.id %> 

	  <%= f.submit "Save New Session", :class => 'btn btn-primary' %>
	  <%= link_to 'Back', event_data_path(event_id: @event.id, category: 'sessions'), :class => 'btn btn-warning' %>

	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() { 
		$('#session_start_time').datetimepicker({
			dateFormat: "yy-mm-dd"
		});
		$('#session_end_time').datetimepicker({
			dateFormat: "yy-mm-dd"
		});

		$.validator.setDefaults({
			submitHandler: function() {
				document.getElementById("new_session_form").submit()
			}
		});

		$("#new_session_form").validate({
			rules: {
				'session[name]': "required",
				'session[start_time]': "required",
				'session[end_time]': "required"	
			},
			messages: {
				'session[name]': "Please enter a session name",
				'session[start_time]': "Please choose the start time",
				'session[end_time]': "Please choose the end time"	
			}
		});

		$("#session_tags").select2();
	});
</script>



