<div class="page-header">
  <h1>Notes for <%= "#{@note.readable_notable_type}: #{@notable.name}" %></h1>
</div>

<%= simple_format(@note.content) %>

<%# Back goes to the index page for the notable type %>
<%= link_to "Back", event_data_path,
            :class => 'btn btn-default'  %>
<%= link_to 'Export', notes_export_path(id: @note.id),
            remote: true,
            :class => 'btn btn-default' %>
<%= link_to 'Edit', edit_note_path(@note),
            :class => 'btn btn-default' %>
<%= link_to 'Delete', note_path(@note),
            :method => 'delete',
            :data => { :confirm => 'Are you Sure?' },
            :class => 'btn btn-danger' %>