<tr>
  <th class="text-primary col-md-2">Start Time</th>
  <th class="text-primary col-md-2">End Time</th>
  <th class="text-primary col-md-2">Session Name</th>
  <th class="text-primary col-md-2">Venue/Place</th>
  <th class="text-primary col-md-4">Actions</th>
</tr>

<% @sessions.order(:start_time).each do |session| %>
  <tr>
    <td><%= session.start_time %></td>
    <td><%= session.end_time %></td>
    <td><%= session.name %></td>
    <td><%= session.location.nil? ? '' : session.location.name %></td>
    <td>
    	<% if session.is_published
    		publish_btn = "Unpublish"
    		classes = "btn btn-default"
       else
        publish_btn = "Publish"
    		classes = "btn btn-primary"
       end
    	%>
    	<% @notable = session %>
    	<%= render partial: 'events/event_data/actions' %>
    	<%= link_to 'Edit', edit_session_path(session) %>
    	<%= link_to 'Delete', session_path(session), method: :delete, :class => 'delete' %>
    	<%= link_to publish_btn, session_publish_path(session) %>
    </td>
  </tr>
	<%= render partial: 'favorites/hidden_form' %>
<% end %>
