<p>Hello <%= @user.name %>,</p>

<p>
  <% if @changes.keys.include?('is_published') %>
    Please note that a new event <%= @event.name %> has been published.
  <% else %>
    Please note that the organiser of <%= @event.name %> has made some changes to this event.
  <% end %>
  See below:
</p>

<%= render partial: 'notifier/event_updated/changes' %>

<p>Best Regards,</p>

<p><%= link_to 'The Conferina Team', root_url %></p>