<tr>
  <th class="text-primary col-md-3">Name</th>
  <th class="text-primary col-md-2">Address</th>
  <th class="text-primary col-md-1">City</th>
  <th class="text-primary col-md-2">Province / State</th>
  <th class="text-primary col-md-4">Actions</th>
</tr>

<% @locations.order(:name).each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td>
    	<% @notable = location %>
    	<%= render partial: 'events/event_data/actions' %>
    	<%= link_to 'Edit', edit_location_path(location) %>
    	<%= link_to 'Delete', location_path(location), method: :delete, :class => 'delete' %>

    </td>
  </tr>
	<%= render partial: 'favorites/hidden_form' %>
<% end %>
