
<div class="form-group"><h1>Edit Event</h1></div>

<%= form_for :event, url: event_path(@event), method: :patch, :html => { :id => "new_event_form" } do |f| %>
  <div class="form-group">
	<p>Fields with <span class="asteroid">*</span> are required.</p>
  </div>

  <div class="form-group row">
	<label for="name" class="col-xs-3 col-form-label">Event Name <span class="asteroid">*</span></label>
	<div class="col-xs-6">
	  <%= f.text_field :name, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group row">
	<label for="description" class="col-xs-3 col-form-label">Description <span class="asteroid">*</span></label>
	<div class="col-xs-6">
	  <%= f.text_area :description, :class => 'form-control', :rows => 7 %>
	</div>
  </div>

  <div class="form-group row">
	<label for="category_id" class="col-xs-3 col-form-label">Category</label>
	<div class="col-xs-3">
	  <%= f.select :category_id, options_for_select(@category_types.map{ |c| [c.category, c.id] }, :selected => @event.category_id), {}, {:class => 'form-control'} %>
	</div>
  </div>

  <div class="form-group row">
	<label for="avatar" class="col-xs-3 col-form-label">Event Logo</label>
	<div class="col-xs-6">
	  <%= image_tag(@event.avatar_url) if @event.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
	</div>
  </div>

  <div class="form-group row">
	<label for="timezone" class="col-xs-3 col-form-label">Timezone</label>
	<div class="col-xs-3">
	  <select name="event[timezone]" id="event_timezone" class="form-control"></select>
	</div>
  </div>

  <div class="form-group row">
	<label for="start_date" class="col-xs-3 col-form-label">Start Date <span class="asteroid">*</span></label>
	<div class="col-xs-3">
	<%= f.text_field :start_date, :readonly => true, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group row">
	<label for="end_date" class="col-xs-3 col-form-label">End Date <span class="asteroid">*</span></label>
	<div class="col-xs-3">
	  <%= f.text_field :end_date, :readonly => true, :class => 'form-control' %>
	</div>
  </div>
  
  <div class="form-group">
  	<%= f.check_box :coming_soon %><span>&nbsp;&nbsp;Would you like your event guide to be listed as "Coming Soon"? Event guides listed as "Coming Soon" appear in the Conferina app but cannot be downloaded while this option is selected.</span>
  </div>

  <hr>

  <div class="form-group"><h3>Event Location</h3></div>

  <div class="address">
	  <div class="form-group row">
		<label for="address" class="col-xs-3 col-form-label">Address <span class="asteroid">*</span></label>
		<div class="row col-xs-6">
		  <div class="col-xs-10">
		  	<%= f.text_field :address, :placeholder => "Type in an address", :class => 'form-control' %>
		  </div>
		  
		  <div class="col-xs-2">
		  	<input id="find" type="button" value="Find" class="btn btn-primary" />
		  </div>     
		</div>
	  </div>

	  <div class="map_canvas"></div>

	  <div class="form-group row">
		<label for="lat" class="col-xs-3 col-form-label">Latitude</label>
		<div class="col-xs-3">
		  <input id="lat" name="lat" type="text" value="" class="form-control" disabled="disabled">
		  <input type="hidden" name="event[lat]" id="event_lat">
		</div>
	  </div>

	  <div class="form-group row">
		<label for="lng" class="col-xs-3 col-form-label">Longitude</label>
		<div class="col-xs-3">
		  <input id="lng" name="lng" type="text" value="" class="form-control" disabled="disabled">
		  <input type="hidden" name="event[lng]" id="event_lng">
		</div>
	  </div>

	  <div class="form-group row">
		<label class="col-xs-3 col-form-label">Formatted Address</label>
		<div class="col-xs-3">
		  <input name="formatted_address" type="text" value="" class="form-control" disabled="disabled">	  
		</div>
		<div class="col-xs-6">
			<a id="reset" href="#" style="display:none;">Reset Marker</a>
		</div>
	  </div>
  </div>

  <hr>

  <div class="extra">
	  <div class="form-group row">
		<label for="extra_name" class="col-xs-3 col-form-label">Extra Field Name</label>
		<div class="col-xs-6">
		  <%= f.text_field :extra_name, :class => 'form-control', :placeholder => 'e.g. Call For Papers Due' %>
		</div>
	  </div>

	  <div class="form-group row">
		<label for="extra_desc" class="col-xs-3 col-form-label">Description</label>
		<div class="col-xs-6">
		  <%= f.text_area :extra_desc, :class => 'form-control', :rows => 7, :placeholder => 'e.g. Description' %>
		</div>
	  </div>

	  <div class="form-group row">
	  	<div class="col-xs-3">
	  		<%= f.text_field :extra_date_first_name, :placeholder => "e.g. Submission Deadline", :class => 'form-control' %>
	  	</div>
	  	<div class="col-xs-3">
		  <%= f.text_field :extra_date_first, :readonly => true, :class => 'form-control' %>
		</div>
	  </div>

	  <div class="form-group row">
	  	<div class="col-xs-3">
	  		<%= f.text_field :extra_date_second_name, :placeholder => "e.g. Notification Due", :class => 'form-control' %>
	  	</div>
	  	<div class="col-xs-3">
		  <%= f.text_field :extra_date_second, :readonly => true, :class => 'form-control' %>
		</div>
	  </div>	

	  <div class="form-group row">
		<label for="tags" class="col-xs-3 col-form-label">Tags</label>
		<div class="col-xs-6">
		  
		  <%= f.select :tags, options_from_collection_for_select(@tags, "id", "name", @event.tags.collect{ |p| p.id }), {}, {:class => 'form-control', :multiple => true } %>
		</div>
	  </div>	
  </div>
  <hr>

  <%= f.submit "Update Event", :class => 'btn btn-primary' %>
  
  <%= link_to 'Back', events_path, :class => 'btn btn-warning' %>
<% end %>


<script>
	$(document).ready(function(){

		$('#event_timezone').timezones();
		$('#event_start_date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
		$('#event_end_date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
		$('#event_extra_date_first').datepicker({
			dateFormat: 'yy-mm-dd'
		});
		$('#event_extra_date_second').datepicker({
			dateFormat: 'yy-mm-dd'
		});

		$("#event_tags").select2();
		
		$("#event_address").geocomplete({
	      map: ".map_canvas",
	      details: ".address",
	      markerOptions: {
	        draggable: true
	      }
	    });
	    
	    $("#event_address").on("geocode:dragged", function(event, latLng){
	      $("input[name=lat]").val(latLng.lat());
	      $("input[name=lng]").val(latLng.lng());
	      $("#reset").show();
	    });

	    $("#event_address").on("change", function(){
	    	$("#find").trigger("click");	
	    });
	    

	    $("#reset").click(function(){
	      $("#event_address").geocomplete("resetMarker");
	      $("#reset").hide();
	      return false;
	    });
	    
	    $("#find").click(function(){
	      $("#event_address").trigger("geocode");
	    }).click();	

	    // $("#extra").on('click', function(){
	    // 	if($(this).prop('checked') == true) 
	    // 		$('.extra').css('display', 'initial');
	    // 	else
	    // 		$('.extra').css('display', 'none');
	    // });

	    function checking_extra() {
	    	if($('#event_extra_name').val() || $('#event_extra_desc').val()) {
				$("#event_extra_name").rules( "add", {
				  required: true,
				  messages: {
				    required: "Please enter an extra field name"
				  }
				});

				$("#event_extra_desc").rules( "add", {
				  required: true,
				  messages: {
				    required: "Please enter an extra field description"
				  }
				});

			} else {
				$("#event_extra_name").rules( "remove" );
				$("#event_extra_desc").rules( "remove" );
			}	
	    }

	    function checking_extra_dates () {
	    	if($('#event_extra_date_first').val() || $('#event_extra_date_first_name').val()) {
				$("#event_extra_date_first_name").rules( "add", {
				  required: true,
				  messages: {
				    required: "Please enter the first extra date name"
				  }
				});	

				$("#event_extra_date_first").rules( "add", {
				  required: true,
				  messages: {
				    required: "Please select the first extra date"
				  }
				});

			} else {
				$("#event_extra_date_first_name").rules("remove");
				$("#event_extra_date_first").rules("remove");
			}

			if($('#event_extra_date_second').val() || $('#event_extra_date_second_name').val()) {
				$("#event_extra_date_second_name").rules( "add", {
				  required: true,
				  messages: {
				    required: "Please enter the second extra date name"
				  }
				});	

				$("#event_extra_date_second").rules( "add", {
				  required: true,
				  messages: {
				    required: "Please select the second extra date"
				  }
				});

			} else {
				$("#event_extra_date_second_name").rules("remove");
				$("#event_extra_date_second").rules("remove");
			}		
	    }

	    $.validator.setDefaults({
			submitHandler: function() {
				$('#event_lat').val($('#lat').val());
				$('#event_lng').val($('#lng').val());

				// if(!($("#extra").prop('checked'))) {
				// 	$('.extra input').each(function() {
				// 		$(this).val("");
				// 	});
				// }
				document.getElementById("new_event_form").submit()
			}
		});

		var rules = function () {
			var rules = {
				'event[name]': "required",
				'event[description]': "required",
				'event[start_date]': "required",
				'event[end_date]': "required",
				'event[address]': "required"	
			}
			return rules;
		}

	    $("#new_event_form").validate({
			rules: rules(),
			messages: {
				'event[name]': "Please enter an event name",
				'event[description]': "Please enter a description",
				'event[start_date]': "Please select start date",
				'event[end_date]': "Please select end date",
			}
		});

	    function set_as_saved_timezone () {
	    	var timezone = "<%= @event.timezone %>";
	    	$("#event_timezone option").filter(function() {
			    return $(this).text().indexOf(timezone) >= 0; 
			}).prop('selected', true);
	    }

	    set_as_saved_timezone();



		// $("#extra").on('click', function(){
		// 	checking_extra();
		// });

	    $(".extra input[type='text']").on('change', function() {
	    	checking_extra();
			checking_extra_dates();			
	    }); 

	    checking_extra();
	    checking_extra_dates();
	});
	
</script>


