<div class="container">
	<div class="form-group row">
		<div class="col-md-6 col-md-offset-3">
			<% if not @event.nil? %>
			<%= select_tag :event_id, options_for_select(@events.map{ |c| [c.name, c.id] }, :selected => @event.id), {:class => 'form-control'} %>
			<% else %>
			<span>There is no event.</span>
			<% end %>
		</div>
	</div>

	<div>

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs responsive" role="tablist">
	    <li role="presentation" class="active"><a href="#people" aria-controls="people" role="tab" data-toggle="tab">People</a></li>
	    <li role="presentation"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">Locations</a></li>
	    <li role="presentation"><a href="#sessions" aria-controls="sessions" role="tab" data-toggle="tab">Sessions</a></li>
	    <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">Social</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content responsive">
	    <div role="tabpanel" class="tab-pane active" id="people">
	    	<% if not @event.nil? %>

	    	<h2>Persons</h2>

			<div class="small-bottom">
				<%= link_to '+ Add New Person', new_person_path(id: @event.id), class: "btn btn-primary" %>
				<%= link_to 'Export', notes_bulk_export_path(notable_type: 'Person'), :class => 'btn btn-default' %>
				<a href="#" class="pull-right" data-toggle="modal" data-target="#person_modal">Advanced Search</a>
			</div>
			<div class="row">
				<table class="table table-striped">
				  <tr>
				    <th class="text-primary col-md-3">Name/Title</th>
				    <th class="text-primary col-md-4">Description</th>
				    <th class="text-primary col-md-2">Company</th>
				    <th class="text-primary col-md-3">Actions</th>
				  </tr>

				  <% @persons.each do |person| %>
				    <tr>
				      <td><%= person.name %></td>
				      <td><%= person.description %></td>
				      <td><%= person.subtitle %></td>
				      <td>
				      	<% @favoritable = person %>
				      	<%= render partial: 'favorites/button' %>
				      	<%= render partial: 'notes/shared/link', locals: { notable: person } %>
				      	<%= link_to 'Edit', edit_person_path(person) %>
				      	<%= link_to 'Delete', person_path(person), method: :delete, :class => 'delete' %>
			      	  </td>
				    </tr>
		      	<%= render partial: 'favorites/hidden_form' %>
				  <% end %>

				</table>
			</div>
			<% end %>
	    </div>

	    <div role="tabpanel" class="tab-pane" id="locations">
	    	<% if not @event.nil? %>
	    	<h2>Locations</h2>

			<div class="small-bottom">
				<%= link_to '+ Add New Location', new_location_path(id: @event.id), class: "btn btn-primary" %>
				<%= link_to 'Export', notes_bulk_export_path(notable_type: 'Location'), :class => 'btn btn-default' %>
				<a href="#" class="pull-right" data-toggle="modal" data-target="#location_modal">Advanced Search</a>
			</div>
			<div class="row">
				<table class="table table-striped">
				  <tr>
				    <th class="text-primary col-md-3">Name</th>
				    <th class="text-primary col-md-3">Address</th>
				    <th class="text-primary col-md-1">City</th>
				    <th class="text-primary col-md-2">Province / State</th>
				    <th class="text-primary col-md-4">Actions</th>
				  </tr>

				  <% @locations.order(:name).each do |location| %>
				    <tr>
				      <td><%= location.name %></td>
				      <td><%= location.address %></td>
				      <td><%= location.city %></td>
				      <td><%= location.state %></td>
				      <td>
				      	<% @favoritable = location %>
				      	<%= render partial: 'favorites/button' %>
				      	<%= render partial: 'notes/shared/link', locals: { notable: location } %>
				      	<%= link_to 'Edit', edit_location_path(location) %>
				      	<%= link_to 'Delete', location_path(location), method: :delete, :class => 'delete' %>

				      </td>
				    </tr>
		      	<%= render partial: 'favorites/hidden_form' %>
				  <% end %>

				</table>
			</div>
			<% end %>
	    </div>

	    <div role="tabpanel" class="tab-pane" id="sessions">
	    	<% if not @event.nil? %>
	    	<h2>Sessions</h2>

			<div class="small-bottom">
				<%= link_to '+ Add New Session', new_session_path(id: @event.id), class: "btn btn-primary" %>
				<%= link_to 'Export', notes_bulk_export_path(notable_type: 'Session'), remote: true, :class => 'btn btn-default' %>
				<a href="#" class="pull-right" data-toggle="modal" data-target="#session_modal">Advanced Search</a>
			</div>
			<div class="row">
				<table class="table table-striped">
				  <tr>
				    <th class="text-primary col-md-2">Start Time</th>
				    <th class="text-primary col-md-2">End Time</th>
				    <th class="text-primary col-md-3">Session Name</th>
				    <th class="text-primary col-md-2">Venue/Place</th>
				    <th class="text-primary col-md-3">Actions</th>
				  </tr>

				  <% @sessions.order(:start_time).each do |session| %>
				    <tr>
				      <td><%= session.start_time %></td>
				      <td><%= session.end_time %></td>
				      <td><%= session.name %></td>
				      <td><%= session.location.nil? ? '' : session.location.name %></td>
				      <td>
				      	<% if session.is_published
				      		publish_btn = "Unpublish"
				      		classes = "btn btn-default"
					       else
					        publish_btn = "Publish"
				      		classes = "btn btn-primary"
					       end
				      	%>
				      	<% @favoritable = session %>
				      	<%= render 'favorites/button' %>
				      	<%= render partial: 'notes/shared/link', locals: { notable: session } %>
				      	<%= link_to 'Edit', edit_session_path(session) %>
				      	<%= link_to 'Delete', session_path(session), method: :delete, :class => 'delete' %>
				      	<%= link_to publish_btn, session_publish_path(session) %>
				      </td>
				    </tr>
		      	<%= render partial: 'favorites/hidden_form' %>
				  <% end %>

				</table>
			</div>
			<% end %>
	    </div>

	    <div role="tabpanel" class="tab-pane" id="social">
	    	<% if not @event.nil? %>

		    	<div class="form-group"><h1>Edit Social Settings</h1></div>

				<%= form_for :social, url: social_path(@event.social.id), method: :patch, :html => { :id => "edit_social_form", :role => "form" } do |f| %>

				  <div class="form-group row">
					<label for="website" class="col-sm-3 col-xs-5 col-form-label">
						<span>Website URL</span>
						<%= image_tag(asset_path("web.png"), height: '22', width: '22') %>
					</label>
					<div class="col-sm-5 col-xs-7">
					  <input class="form-control" type="text" name="social[website]" id="social_website" data-error="The website address is not valid" value="<%= @social.website %>">
					</div>
				  </div>

				  <div class="form-group row">
					<label for="facebook" class="col-sm-3 col-xs-5 col-form-label">
						<span>Facebook URL</span>
						<%= image_tag(asset_path("facebook-icon.png"), height: '22', width: '22') %>
					</label>
					<div class="col-sm-5 col-xs-7">
					  <input class="form-control" type="text" name="social[facebook]" id="social_facebook" data-error="The facebook address is not valid" value="<%= @social.facebook %>">
					</div>
				  </div>

				  <div class="form-group row">
					<label for="twitter" class="col-sm-3 col-xs-5 col-form-label">
						<span>Twitter URL</span>
						<%= image_tag(asset_path("twitter.png"), height: '22', width: '22') %>
					</label>
					<div class="col-sm-5 col-xs-7">
					  <input class="form-control" type="text" name="social[twitter]" id="social_twitter" data-error="The twitter address is not valid" value="<%= @social.twitter %>">
					</div>
				  </div>

				  <div class="form-group row">
					<label for="youtube" class="col-sm-3 col-xs-5 col-form-label">
						<span>YouTube URL</span>
						<%= image_tag(asset_path("youtube.png"), height: '22', width: '22') %>
					</label>
					<div class="col-sm-5 col-xs-7">
					  <input class="form-control" type="text" name="social[youtube]" id="social_youtube" data-error="The youtube address is not valid" value="<%= @social.youtube %>">
					</div>
				  </div>

				  <%= f.hidden_field :event_id, :value => @event.id %>

				  <%= f.submit "Save", :class => 'btn btn-primary' %>
				<% end %>

			<% end %>
	    </div>
	  </div>

	</div>

	<% if not @event.nil? %>
	<!-- Start: Persons Modal Dialog -->
	<div id="person_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <%= form_for :person, url: search_person_path, :html => { :id => "search_person_form" } do |f| %>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="gridModalLabel">Advanced Search</h4>
	      </div>
	      <div class="modal-body">



			  <div class="form-group row">
				<label for="name" class="col-sm-3 col-xs-5 col-form-label">Name/Title</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :name, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="subtitle" class="col-sm-3 col-xs-5 col-form-label">Company</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :subtitle, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="description" class="col-sm-3 col-xs-5 col-form-label">Description</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :description, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="website" class="col-sm-3 col-xs-5 col-form-label">Website URL</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :website, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="youtube" class="col-sm-3 col-xs-5 col-form-label">Youtube URL</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :youtube, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="facebook" class="col-sm-3 col-xs-5 col-form-label">Facebook Link</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :facebook, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="twitter" class="col-sm-3 col-xs-5 col-form-label">Twitter Link</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :twitter, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="phone" class="col-sm-3 col-xs-5 col-form-label">Phone Number</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :phone, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="email" class="col-sm-3 col-xs-5 col-form-label">Email Address</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.email_field :email, :class => 'form-control' %>
				</div>
			  </div>


			  <%= f.hidden_field :event_id, :value => @event.id %>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= f.submit "Search", :class => 'btn btn-primary' %>
	      </div>
	    <% end %>
	    </div>
	  </div>
	</div>

	<!-- End: Persons Modal Dialog -->

	<!-- Start: Locations Modal Dialog -->
	<div id="location_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <%= form_for :location, url: search_location_path, :html => { :id => "search_location_form" } do |f| %>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="gridModalLabel">Advanced Search</h4>
	      </div>
	      <div class="modal-body">



			  <div class="form-group row">
				<label for="name" class="col-sm-3 col-xs-5 col-form-label">Name</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :name, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="address" class="col-sm-3 col-xs-5 col-form-label">Address</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :address, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="city" class="col-sm-3 col-xs-5 col-form-label">City</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :city, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="state" class="col-sm-3 col-xs-5 col-form-label">Province / State</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :state, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="country" class="col-sm-3 col-xs-5 col-form-label">Country</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :country, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="zip" class="col-sm-3 col-xs-5 col-form-label">Postal Code /Zip</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :zip, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="phone" class="col-sm-3 col-xs-5 col-form-label">Phone Number</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :phone, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="description" class="col-sm-3 col-xs-5 col-form-label">Description</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :description, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="subtitle" class="col-sm-3 col-xs-5 col-form-label">Subtitle</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.email_field :subtitle, :class => 'form-control' %>
				</div>
			  </div>

			  <%= f.hidden_field :event_id, :value => @event.id %>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= f.submit "Search", :class => 'btn btn-primary' %>
	      </div>
	    <% end %>
	    </div>
	  </div>
	</div>

	<!-- End: Locations Modal Dialog -->

	<!-- Start: Sessions Modal Dialog -->
	<div id="session_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    <%= form_for :session, url: search_session_path, :html => { :id => "search_session_form" } do |f| %>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="gridModalLabel">Advanced Search</h4>
	      </div>
	      <div class="modal-body">
			  <div class="form-group row">
				<label for="name" class="col-sm-3 col-xs-5 col-form-label">Name</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :name, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="start_time" class="col-sm-3 col-xs-5 col-form-label">Start Time</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :start_time, :class => 'form-control', :placeholder => 'yyyy-mm-dd hh:mm' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="end_time" class="col-sm-3 col-xs-5 col-form-label">End Time</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :end_time, :class => 'form-control', :placeholder => 'yyyy-mm-dd hh:mm' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="description" class="col-sm-3 col-xs-5 col-form-label">Description</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :description, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="other_time" class="col-sm-3 col-xs-5 col-form-label">Alternative Time Display</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :other_time, :class => 'form-control' %>
				</div>
			  </div>

			  <div class="form-group row">
				<label for="tags" class="col-sm-3 col-xs-5 col-form-label">Tags</label>
				<div class="col-sm-6 col-xs-7">
				  <%= f.text_field :tags, :class => 'form-control' %>
				</div>
			  </div>

			  <%= f.hidden_field :event_id, :value => @event.id %>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= f.submit "Search", :class => 'btn btn-primary' %>
	      </div>
	    <% end %>
	    </div>
	  </div>
	</div>

	<!-- End: Sessions Modal Dialog -->
	<% end %>
</div>

<!-- Start: Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- End: Confirm Modal -->

<script type="text/javascript">

  $(document).ready(function(){
  	fakewaffle.responsiveTabs(['xs', 'sm']);

	$('#edit_social_form').data("toggle", "validator");
	$('#edit_social_form').validator();

  	$('#event_id').on('change', function() {
		window.location.href = "/event_data?event_id=" + $(this).val() + "&category=" + $(".nav-tabs .active a").attr('aria-controls');
  	});

  	$(".nav-tabs a").on('click', function() {
  		if($(this).closest('li').hasClass('active')) return;
  		window.location.href = "/event_data?event_id=" + $('#event_id').val() + "&category=" + $(this).attr('aria-controls');
  	});

  	var category = "<%= @category %>";

  	$(".nav-tabs a[href='#" + category + "']").tab('show');


  	var selected;

	$("a.delete").on('click', function(e){
		e.preventDefault();
		$(this).removeAttr("data-method");
		$('#confirmModal').modal('show');
		selected = $(this).attr('href');
	});

	$('#confirmModal button.btn-default').on('click', function(){
		$.ajax({
		  method: "DELETE",
		  url: selected
		});
	});
  });
</script>



