<div class="container">
	<h2>Events</h2>

	<div class="small-bottom">
		<%= link_to '+ Add New Event', new_event_path, class: "btn btn-primary" %>
		<%= link_to 'Advanced Search', '#', class: "pull-right", 'data-toggle': "modal", 'data-target': "#events_modal" %>
	</div>
	<div class="row">
		<table class="table table-striped">
		  <tr>
		    <th class="text-primary col-md-3">Event Name</th>
		    <th class="text-primary col-md-4">Description</th>
		    <th class="text-primary col-md-1">Start Date</th>
		    <th class="text-primary col-md-1">End Date</th>
		    <th class="text-primary col-md-3">Actions</th>
		  </tr>

		  <% @events.each do |event| %>
		    <tr>
		      <td><%= event.name %></td>
		      <td><%= event.description %></td>
		      <td><%= event.start_date %></td>
		      <td><%= event.end_date %></td>
		      <td>
		      	<% msg = "Subscribers to this event or any tag for this event will be notified when it is published" %>
		      	<% if event.is_published
		      		publish_btn = "Unpublish"
		      		classes = "btn btn-default"
		      		publish_options = {}
			       else
			        publish_btn = "Publish"
		      		classes = "btn btn-primary"
		      		publish_options = {
		      			'data-toggle' => "tooltip",
		      			'data-placement' => "top",
		      			title: msg
		      		}
			       end
		      	%>

		      	<%= link_to 'Edit', edit_event_path(event) %>
		      	<%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
				    <%= link_to publish_btn, publishable_path(event), publish_options %>
	      	  </td>
		    </tr>
		  <% end %>

		</table>
	</div>
</div>

<% if not @events.nil? %>
<!-- Start: Events Search Modal Dialog -->
<div id="events_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_for :event, url: search_events_path, :html => { :id => "search_events_form" } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Advanced Search</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group row">
			<label for="name" class="col-sm-3 col-xs-4 col-form-label">Event Name</label>
			<div class="col-sm-6 col-xs-8">
			  <%= f.text_field :name, :class => 'form-control' %>
			</div>
		  </div>

		  <% if @category_types %>
		  <div class="form-group row">
			<label for="category_id" class="col-sm-3 col-xs-4 col-form-label">Category</label>
			<div class="col-sm-6 col-xs-8">
			  <%= f.select :category_id, options_for_select(@category_types.map{ |c| [c.category, c.id] }), {}, {:class => 'form-control'} %>
			</div>
		  </div>
		  <% end %>

		  <div class="form-group row">
			<label for="start_date" class="col-sm-3 col-xs-4 col-form-label">Start Date</label>
			<div class="col-sm-6 col-xs-8">
			<%= f.text_field :start_date, :readonly => true, :class => 'form-control' %>
			</div>
		  </div>

		  <div class="form-group row">
			<label for="end_date" class="col-sm-3 col-xs-4 col-form-label">End Date</label>
			<div class="col-sm-6 col-xs-8">
			  <%= f.text_field :end_date, :readonly => true, :class => 'form-control' %>
			</div>
		  </div>

		  <div class="form-group row">
			<label for="address" class="col-sm-3 col-xs-4 col-form-label">Address</label>
			<div class="col-sm-6 col-xs-8">
				<input id="event_address" name="event[address]" type="text" class="form-control" />
			</div>
		  </div>

		  <div class="form-group row">
			<label for="tags" class="col-sm-3 col-xs-4 col-form-label">Tags</label>
			<div class="col-sm-6 col-xs-8">
			  <%= f.select :tags, options_for_select(@tags.map{ |c| [c.name, c.id] }), {}, {:class => 'form-control', :multiple => true, :style => 'width: 100%' } %>
			</div>
		  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit "Search", :class => 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- End: Event Search Modal Dialog -->
<% end %>


<script type="text/javascript">
	$(document).ready(function() {
		$('#event_start_date').datepicker({
			dateFormat: 'yy-mm-dd'
		});
		$('#event_end_date').datepicker({
			dateFormat: 'yy-mm-dd'
		});

		$("#event_tags").select2();
	});
</script>


