<div class="row"><h1>Create New Event Group</h1></div>

<%= form_for :event, url: events_path do |f| %>
  <div class="row">
	<p>Fields with <span class="asteroid">*</span> are required.</p>
  </div>

  <div class="form-group row">
	<label for="name" class="col-xs-3 col-form-label">Event Name <span class="asteroid">*</span></label>
	<div class="col-xs-6">
	  <%= f.text_field :name, :required => true, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group row">
	<label for="description" class="col-xs-3 col-form-label">Description <span class="asteroid">*</span></label>
	<div class="col-xs-6">
	  <%= f.text_area :description, :required => true, :class => 'form-control', :rows => 7 %>
	</div>
  </div>

  <div class="form-group row">
	<label for="category_id" class="col-xs-3 col-form-label">Category</label>
	<div class="col-xs-4">
	  <% if @category_types %>
	  <%= f.select :category_id, options_for_select(@category_types.map{ |c| [c.category, c.id] }), {}, {:class => 'form-control'} %>
	  <% else %>
	  <span>Category does not exist.</span>>
	  <% end %>
	</div>
  </div>

  <div class="form-group row">
	<label for="avatar" class="col-xs-3 col-form-label">Event Logo</label>
	<div class="col-xs-6">
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
	</div>
  </div>

  <div class="form-group row">
	<label for="timezone" class="col-xs-3 col-form-label">Timezone</label>
	<div class="col-xs-4">
	  <select name="event[timezone]" id="event_timezone" class="form-control"></select>
	</div>
  </div>

  <div class="form-group row">
	<label for="start_date" class="col-xs-3 col-form-label">Start Date <span class="asteroid">*</span></label>
	<div class="col-xs-4">
	  <%= f.text_field :start_date, :required => true, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group row">
	<label for="end_date" class="col-xs-3 col-form-label">End Date <span class="asteroid">*</span></label>
	<div class="col-xs-4">
	  <%= f.text_field :end_date, :required => true, :class => 'form-control' %>
	</div>
  </div>
  
<% end %>

<div class="row"><%= link_to 'Back', events_path %></div>

<script>
	$('#event_timezone').timezones();
	$('#event_start_date').datepicker();
	$('#event_end_date').datepicker();
</script>


