<%= include_gon %>

<div class="container">
  <h1>Update Person Type</h1>
   
  <%= form_for :person_type, url: person_type_path(@person_type), method: :patch do |f| %>
   
    <% if @person_type.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@person_type.errors.count, "error") %> prohibited
          this person type from being saved:
        </h2>
        <ul>
          <% @person_type.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= f.label :category %><br>
      <%= f.text_field :category, :required => true %>
    </p>
    
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control', :rows => 3, :placeholder => 'Description' %>
    </p>
    
    <p>
      <label>Icon</label>
      <%= image_tag(@person_type.avatar_url) if @person_type.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>
   
    <p>
      <%= f.submit :class => "btn btn-primary" %>
    </p>
   
  <% end %>
   
  <%= link_to 'Back', person_types_path %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    console.log(gon.all);
    $("input[type='submit']").on('click', function(e){
      var person_type = $('#person_type_category').val().toLowerCase();
      for (var i = 0; i < gon.all.length; i++) {
        if(gon.id == gon.all[i]['id']) continue;
        if(person_type == gon.all[i]['category'].toLowerCase()) {
          e.preventDefault();
          alert("Oops, sorry it looks like you already have that Person Type saved. Please choose a unique Person Type, thanks");
          break;
        }
      }
    });
  });
</script>