<h2>Edit Person Type</h2>

<div class="small-bottom">
	<%= link_to '+ Add New', new_person_type_path, class: "btn btn-primary" %>
	<a href="#" class="pull-right" data-toggle="modal" data-target="#person_type_modal">Advanced Search</a>
</div>
<div class="row"> 
	<table class="table table-striped">
	  <tr>
	    <th class="text-primary col-md-5">Person Type</th>
	    <th class="text-primary col-md-5">Description</th>
	    <th class="text-primary col-md-2">&nbsp;</th>
	  </tr>
	 
	  <% @person_types.each do |person_type| %>
	    <tr>
	      <td><%= person_type.category %></td>
	      <td><%= image_tag(person_type.avatar.url(:thumb)) if person_type.avatar? %></td>
	      <td>
	      	<%= link_to 'Edit', edit_person_type_path(person_type) %>
	      	<%= link_to 'Delete', person_type_path(person_type), method: :delete, data: { confirm: "Are you sure?" } %>		
      	  </td>
	    </tr>
	  <% end %>
	</table>
</div>

<!-- Start: Person Type Search Modal -->
<div id="person_type_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_for :person_type, url: search_person_type_path, :html => { :id => "search_person_type_form" } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Advanced Search</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group row">
			<label for="category" class="col-xs-3 col-form-label">Person Type</label>
			<div class="col-xs-6">
			  <%= f.text_field :category, :class => 'form-control' %>
			</div>
		  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit "Search", :class => 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<!-- End: Person Type Search Modal -->