<h2>Create Person Type</h2>

<%= form_for :person_type, url: person_types_path do |f| %>
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category, :required => true %>
  </p>
 
  <p>
    <label>Icon</label>
    <%= image_tag(@person_type.avatar_url) if @person_type.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', person_types_path %>