<div class="container">
  <h2>Update Category Type</h2>

  <%= form_for :person_type, url: category_types_path do |f| %>
    <p>
      <%= f.label :category %><br>
      <%= f.text_field :category %>
    </p>
    
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control', :rows => 3, :placeholder => 'Description' %>
    </p>

    <p>
      <label>Icon</label>
      <%= image_tag(@category_type.avatar_url) if @category_type.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>