<div class="container">
  <h1>Update Tag</h1>
   
  <%= form_for :tag, url: tag_path(@tag), method: :patch do |f| %>
   
    <% if @tag.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@tag.errors.count, "error") %> prohibited
          this tag from being saved:
        </h2>
        <ul>
          <% @tag.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true, :style => "width: 100%" %>
    </p>

    <p>
      <%= f.submit :class => "btn btn-primary" %>
    </p>
   
  <% end %>
   
  <%= link_to 'Back', tags_path %>
</div>