<%= form_for @feedback, :html => { :class => "form-horizontal feedback" } do |f| %>

  <% if @feedback.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @feedback.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :subject, :class => 'control-label col-lg-2' %>
    <div class="col-md-4">
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>
    <%=f.error_span(:subject) %>
  </div>

  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-2' %>
    <div class="col-md-4">
      <%= f.text_area :content, rows: 10, :class => 'form-control' %>
    </div>
    <%=f.error_span(:content) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-md-4">
      <%= f.submit 'Send Feedback', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                feedbacks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
