<%- model_class = Feedback -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th>Sent at</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.try(:name) %></td>
        <td><%= feedback.user_email  %></td>
        <td><%= feedback.subject %></td>
        <td><%=l feedback.created_at %></td>
        <td>
          <%= link_to 'View',
                      feedback_path(feedback), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Delete',
                      feedback_path(feedback),
                      :method => :delete,
                      :data => { :confirm => 'Are you Sure?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
