<h1>Update Category Type</h1>
 
<%= form_for :category_type, url: category_type_path(@category_type), method: :patch do |f| %>
 
  <% if @category_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category_type.errors.count, "error") %> prohibited
        this category type from being saved:
      </h2>
      <ul>
        <% @category_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category, :required => true %>
  </p>
 
  <p>
    <label>Icon</label>
    <%= image_tag(@category_type.avatar_url) if @category_type.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>
 
  <p>
    <%= f.submit :class => "btn btn-primary" %>
  </p>
 
<% end %>
 
<%= link_to 'Back', category_types_path %>