<input type="hidden" id="refreshed" value="no">
<input type="hidden" id="selected_event_id">

<%= include_gon %>

<div class="container">
    <div id="custom-search-input" class="form-group row" style="margin-top: 20px">
        <div class="col-sm-5">
          <%= form_tag("/search", method: "post", id: "event_search_form") do %>
            <div class="input-group">
              <%= select_tag :tag_ids, options_for_select(Tag.pluck(:name, :id), @selected_tags_ids), multiple: true %>
            </div>
          <% end %>
        </div>
        <div class='col-sm-2'>
          <%# "All" tag is a special tag filtered out by default scope, hence use of upscoped %>
          <%# find_by! is used to ensure that the tag exists %>
          <% if !current_user.nil? %>
            <div data-toggle="tooltip" data-placement="top"
                 title="Add/Remove tag subscriptions">
              <%= render partial: 'tags/favorites/button' %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4 view-choice">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="view_choice" id="list_view" autocomplete="off" value="list" checked>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                List View
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="view_choice" id="grid_view" autocomplete="off" value="grid">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                Grid View
              </label>
            </div>
        </div>
    </div>

    <ul class="events-grid">
        <% @loop_no = 0 %>
        <% @events.each do |event| %>
            <li class="col-md-4 col-sm-6 col-xs-12" data-toggle="modal" data-target="#eventModal">
                <div class="list-selectable" data-id="<%= @loop_no %>" data-eventid="<%= event.id %>"
                     style="background: white url('<%= event.avatar_url if event.avatar? %>') no-repeat center center; background-size: cover;">
                    <div class="overlay"></div>
                    <a>
                        <p class="title"><%= event.name %></p>
                        <p class="event-date">
                            <span class="start-date"><%= event.start_date %></span>
                            <span> - </span>
                            <span class="end-date"><%= event.end_date %></span>
                        </p>
                    </a>
                </div>
            </li>
        <% @loop_no += 1 %>
        <% end %>
    </ul>

    <table class="table table-striped events-list active">

      <tr>
        <th class="text-primary col-md-3">Start Date</th>
        <th class="text-primary col-md-3">End Date</th>
        <th class="text-primary col-md-6">Event Title</th>

        <% if current_user.present? %>
          <th class="text-primary col-md-6">Notifications</th>
        <% end %>
      </tr>


      <% @loop_no = 0 %>
      <% @events.each do |event| %>
        <tr>
          <td class="list-selectable"
              data-id="<%= @loop_no %>" data-eventid="<%= event.id %>" data-toggle="modal" data-target="#eventModal">
            <%= event.start_date %>
          </td>
          <td class="list-selectable"
              data-id="<%= @loop_no %>" data-eventid="<%= event.id %>" data-toggle="modal" data-target="#eventModal">
            <%= event.end_date %>
          </td>
          <td class="list-selectable"
              data-id="<%= @loop_no %>" data-eventid="<%= event.id %>" data-toggle="modal" data-target="#eventModal">
            <p class="truncate"><%= event.name %></p>
          </td>
          <% if current_user.present? %>
            <td>
              <% @notable = event %>
              <div data-toggle="tooltip" data-placement="top"
                   title="By subscribing, you'll be notified of all updates for this event.">
                <%= render partial: 'favorites/link' %>
              </div>
            </td>
          <% end %>
        </tr>

      <% @loop_no += 1 %>
      <% end %>

    </table>

</div>

<%= render partial: 'searchs/modal' %>
<% if current_user.present? %>
  <%= render partial: 'tags/favorites/modal' %>
<% end %>

<script type="text/javascript">
    onload=function(){
      var e=document.getElementById("refreshed");
      if(e.value=="no")
        e.value="yes";
      else{
        // e.value="no";
        $('.list-selectable[data-eventid="' + $('#selected_event_id').val() + '"]').trigger('click');
        $('.session-icon').trigger('click');
      }
    }

    // Facebook Loading
    var facebook_app_id = '1617151745249811';

    if (facebook_app_id != ""){
        window.fbAsyncInit = function() {
            FB.init({
                appId   : facebook_app_id,
                xfbml   : true,
                version : 'v2.7'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    }

    $('#tag_ids').select2();

    $("#tag_ids").on('change', function() {
        $("#event_search_form").submit();
    });

    $('ul li a p.title').each(function() {
        if($(this).text().length > 90) {
            $(this).text($(this).text().substring(0, 91) + "...");
        }
    });

    $("input[name=view_choice]:radio").on('change', function() {
        var checked   = $('input[name=view_choice]:checked').val();
        var unchecked = $('input[name=view_choice]:not(:checked)').val();
        $('.events-' + unchecked).removeClass('active');
        $('.events-' + checked).addClass('active');

        $('ul.events-grid li .list-selectable').each(function(){
            var width = $(this).width();
            $(this).height(width*0.66);
        });
    });

    $(window).resize(function(){
        $('ul.events-grid li .list-selectable').each(function(){
            var width = $(this).width();
            $(this).height(width*0.66);
        });
    });

    $(window).load(function() {
        $('ul.events-grid li .list-selectable').each(function(){
            var width = $(this).width();
            $(this).height(width*0.66);
        });
    });
</script>

<!-- http://docs.aws.amazon.com/AmazonS3/latest/dev/AuthUsingTempSessionTokenRuby.html -->
<!-- https://github.com/aws/aws-sdk-ruby -->
<!-- http://docs.aws.amazon.com/AmazonS3/latest/dev/UploadObjSingleOpRuby.html -->
<!-- http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/IAM/User.html -->