<div id="custom-search-input" class="form-group">
    <%= form_tag("/search", method: "post", id: "event_search_form") do %>
        <div class="input-group">
            <select name="tag_id" id="tag_id" class="form-control">
                <option value="all" <% if ((defined? @tag_id) && (@tag_id.eql? "all")) %>
                selected
                <% end %>>
                All
                </option>
                <% @tags.each do |tag| %>
                <option value="<%= tag.id %>" <% if ((defined? @tag_id) && (tag.id == @tag_id.to_i)) %>
                selected
                <% end %>>
                    <%= tag.name %>
                </option>
                <% end%>
            </select>            
        </div>
    <% end %>
</div>

<div class="row"> 
	<table class="table table-striped">
	  <tr>
	    <th class="text-primary col-md-3">Event Name</th>
	    <th class="text-primary col-md-4">Description</th>
	    <th class="text-primary col-md-1">Start Date</th>
	    <th class="text-primary col-md-1">End Date</th>
	  </tr>

	  <% @events.each do |event| %>
	    <tr>
	      <td><%= event.name %></td>
	      <td><%= event.description %></td>
	      <td><%= event.start_date %></td>
	      <td><%= event.end_date %></td>
	    </tr>
	  <% end %>
	 
	</table>
</div>

<script type="text/javascript">
    $("#tag_id").on('change', function() {
        $("#event_search_form").submit();
    });
</script>