<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Conference Web" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Conferina" %>">
    <%= content_for(:head) if content_for? :head %>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAPH89KG4vK4HGD9hMCL5p8bQeNF6uKBqY&amp;sensor=false&amp;libraries=places"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div id='flash_messages'>
        <%= render 'layouts/messages' %>
      </div>
      <br><br>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
